// variables
$font-weights: ("regular": 400,
  "medium": 500,
  "bold": 700,
);
$button: ("full": 100%,
  "medium": 50%,
);

// Global CSS
* {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.3rem;
}

img {
  width: 100%;
  height: auto;
}

.nav-link:active {
  border-bottom: 4px black;
}

@media screen and (max-width: 767px) {
  * {
    text-align: center;
    list-style: none;
  }

  .user-bio,
  .user-banner hr {
    display: none;
  }


  .profile-edit-button {
    margin: 10% 0 5% 0;
  }

  .profile-edit-button a {
    max-width: 43%;
  }

  img {
    width: 80%;
    height: auto;
  }
}

// ALL OF THE FLAGS
#hideMe {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// SCOPED CSS
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*GRID SYSTEM*/

/* Banner */

.sneak-peak-banner {
  margin: 20% 0 0 0;
}

.sneak-peak-banner img {
  max-width: 100%;
}

#main-div-one {
  background-image: url("/public/photos/security-camera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ad-security__info {
  padding: 200px 0;
  color: white;
}

.ad-security__title h1 {
  font-weight: map-get($map: $font-weights, $key: "bold");
}

@media screen and (max-width: 767px) {
  #main-div-one {
    background-position: center;
  }

  #social-logos a {
    display: none;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*BOX TWO*/
.ad-development {
  background-image: url("/public/photos/servers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.ad-development__info {
  color: white;
}

.ad-development__info h1,
.ad-development__title h1 {
  font-weight: map-get($map: $font-weights, $key: "bold");
  color: white;
}

@media screen and (max-width: 767px) {
  .ad-development {
    background-position: center;
    background-size: cover;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*BOX THREE*/
.ad-analytics__contain {
  padding-bottom: 100px;
}

.ad-analytics__textbox {
  background-color: #3d94d3;
  color: white;
}

.ad-analytics__info {
  padding: 100px 0;
  text-align: center;
}

.ad-analytics__info h1 {
  font-weight: map-get($map: $font-weights, $key: "bold");
}

.ad-analytics__info a {
  margin-top: 50px;
  color: white;
  font-size: 1.4rem;
  font: bold;
}

.ad-analytics__info a:hover {
  color: black;
  cursor: pointer;
}

.ad-analytics__info h3 {
  margin-bottom: 30px;
}

/* content are 3 photo */
#meetings-img-holder {
  background-image: url("/public/photos/meetings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  #meetings-img-holder {
    display: none;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* LOG IN PAGE */
#main-bg {
  text-align: center;
  margin-top: 30px;
}

.input {
  margin: 30px 0;
}

input {
  border-style: solid;
}

.form-actions {
  margin-top: 30px;
}

.forgot-pwd {
  margin-top: 15px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* SIGN UP PAGE */

.signUp-card {
  text-align: center;
  margin: 10% auto 0 auto;
  max-width: 70%;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* About Page */
.ad-about {
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #528bc6;
}

.ad-about__two {
  background-color: #528bc6;
}

.ad-about__sec2 {
  margin-top: 100px;
  padding-bottom: 100px;
  /*background-color:black;*/
  text-align: left;
  color: white;
}

.ad-about__leadership {
  margin-top: 100px;
}

#team {
  margin-top: 50px;
}

#bio {
  text-align: left;
}



#linkedin {
  margin-left: 20px;
  margin-right: 20px;
}

#Employee-Image {
  max-width: 35%;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Contact Page */

#contact-box,
#twitter-box,
#email-box {
  padding-top: 50px;
}

#contact-box img {
  margin-top: 60px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Pricing page */

.pricing-top {
  margin: 50px 0 0 0;
}

.price-info {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2rem;
}

.purchase-button {
  margin: 50px 0 100px 0;
  text-align: center;
}

.offerings {
  margin-top: 20px;
  list-style-type: "- ";
}

.offerings li {
  font-weight: bold;
}

.solution-info {
  text-align: left;
}

.pricing-row {
  margin: 30px 0 0 0;
}

.ml-row,
.cysa h1 {
  text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Web Development */
.web-dev {
  padding-top: 50px;
  padding-bottom: 50px;
}

#fe-row {
  margin-top: 100px;
}

#fe-row img {
  height: 700px;
}

.fe-title {
  text-align: left;
}

.fe-bio {
  text-align: left;
  margin-top: 40px;
}

.fe-btn {
  text-align: left;
  margin-bottom: 50px;
}

/*BACKEND WEB DEV*/

#be-row {
  margin-top: 200px;
}

#be-row img {
  height: 700px;
}

.be-title,
.be-btn {
  text-align: left;
}

.be-bio {
  text-align: left;
  margin-top: 40px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Account */

.account_items {
  text-align: center;
}

.user-image label {
  overflow: hidden;
  width: 40%;
}

#profile-image {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

#profile-image:hover {
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* footer */
@media screen and (max-width: 600px) {

  #social-col,
  #product-col,
  #contact-col,
  #copyright {
    display: none;
  }

  .ad-analytics__contain {
    padding-bottom: 0;
  }
}