<footer>
  <div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a
          href="/"
          class="d-flex align-items-center mb-3 link-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <p class="text-muted" id="copyright">© Autodrive 2021</p>
      </div>

      <div class="col">
        <!-- Placeholder -->
      </div>

      <div class="col">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="/contact" class="nav-link p-0 text-muted"
              >Customer Service</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/help" class="nav-link p-0 text-muted">Help</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/about" class="nav-link p-0 text-muted">About</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h5>Products</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="/cyber-security" class="nav-link p-0 text-muted"
              >Cyber Security</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/machine-learning" class="nav-link p-0 text-muted"
              >Machine Learning</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/development" class="nav-link p-0 text-muted"
              >Web Development</a
            >
          </li>
        </ul>
      </div>

      <div class="col">
        <h5>Socials</h5>
        <ul class="nav col-md-4 gap-3 d-grid text-center">
          <a class="text-muted" href="https://twitter.com/AutodriveHelp"
            ><li class="fab fa-twitter"></li
          ></a>
          <a class="text-muted" href="www.instagram.com"
            ><li class="fab fa-instagram"></li
          ></a>
          <a class="text-muted" href="www.linkedin.com"
            ><li class="fab fa-linkedin"></li
          ></a>
        </ul>
      </div>
    </footer>
  </div>
</footer>
