<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include(navbar) %>

    <section class="align-items-center container-lg mt-5 pt-5">
      <div class="container-lg">
        <div class="security-banner mb-5 py-5 text-center">
          <div class="row">
            <div class="col-md-12">
              <h1 class="h2 fw-normal">Cyber Security</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Take securing your assets to the next level with Autodrive.</p>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5 pb-5">
          <div class="align-items-center col-md-6 mt-2">
            <img
              style="width: 100%"
              src="public/photos/security.jpg"
              alt="data-meeting.png"
            />
          </div>
          <div style="margin-left: 10px" class="col-md-5">
            <div class="row">
              <div class="col-md-12 pt-3">
                <h2 class="fw-bold text-left h4">
                  Get a quote from security consultants.
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
                <p class="fs-5">
                  Get the latest indepth representation of your company's
                  security poster by talking with one of our security
                  consultants. Our consultants are specialized in their
                  respected fields and were willing to go the extra mile for the
                  sake of your security.
                </p>
                <p class="text-muted mt-1 fs-6">* What we offer:</p>
                <ul>
                  <li>Vulnerability Scanning</li>
                  <li>Consultations and auditing</li>
                </ul>
                <div class="col-4 text-left">
                  <a role="button" href="/pricing" class="btn btn-danger btn-sm"
                    >Security consulting</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 pb-5 pt-5">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h1 class="h4 fw-bold">
                  Strengthen your security with the right way.
                </h1>
              </div>
              <div class="row">
                <div class="col-md-12 mt-2">
                  <p class="fs-5">
                    Stay ahead of cyber attacks with the help of our pentesting
                    team. We perform credentialed and non-credentialed testing
                    of your web applications and LANs, which will be compiled
                    and documentated to show where your security poster is.
                  </p>
                  <p class="fs-6 mt-1 text-muted">
                    * Some of the applications we use
                  </p>
                  <ul>
                    <li>Metasploit</li>
                    <li>Nikito</li>
                    <li>BurpSuite</li>
                  </ul>
                  <div class="mb-5 col-4 text-left">
                    <a
                      role="button"
                      href="/pricing"
                      class="btn btn-danger btn-sm"
                      >Get in touch with our team</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <img
              style="width: 100%"
              src="public/photos/colleagues.jpg"
              alt="analytics.png"
            />
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs") %>
  </body>
</html>
