<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include(navbar) %>

    <section class="align-items-center container-lg mt-5 pt-5">
      <div class="container-lg">
        <div class="security-banner mb-5 py-5 text-center">
          <div class="row">
            <div class="col-md-12">
              <h1 class="h2 fw-normal">Cyber Security</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Take securing your assets to the next level with Autodrive.</p>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5 pb-5">
          <div class="align-items-center col-md-6 mt-2">
            <img
              style="width: 100%"
              src="public/photos/security.jpg"
              alt="data-meeting.png"
            />
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 pt-3">
                <h2 class="fw-bold text-left h4">
                  Get a quote from security consultants.
                </h2>
              </div>
              <div class="row">
                <div class="col-md-12 mt-2">
                  <p class="fs-5">
                    Get the latest indepth representation of your company's
                    security poster by talking with one of our security
                    consultants. Our consultants are specialized in their
                    respected fields and were willing to go the extra mile for
                    the sake of your security.
                  </p>
                  <div class="dropdown analytic-btn">
                    <a
                      class="btn btn-outline-secondary btn-sm dropdown-toggle"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      What we use
                    </a>
                    <ul
                      class="dropdown-menu bg-light"
                      style="color: black"
                      aria-labelledby="dropdownMenuLink"
                    >
                      <li class="text-center">Security Best Practices</li>
                      <li class="text-center">Auditing</li>
                      <li class="text-center">Security training</li>
                      <li class="text-center">And more!</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 pb-5 pt-5">
          <div class="col-md-6">
            <img
              style="width: 100%"
              src="public/photos/colleagues.jpg"
              alt="analytics.png"
            />
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 mt-4">
                <h1 class="h4 fw-bold">
                  Strengthen your security with the right way.
                </h1>
              </div>
              <div class="row">
                <div class="col-md-12 mt-2">
                  <p class="fs-5">
                    Stay ahead of cyber attacks with the help of our pentesting
                    team. We perform credentialed and non-credentialed testing
                    of your web applications and LANs, which will be compiled
                    and documentated to show where your security poster is.
                  </p>
                  <div class="dropdown analytic-btn">
                    <a
                      class="btn btn-outline-secondary btn-sm dropdown-toggle"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      What we use
                    </a>
                    <ul
                      class="dropdown-menu bg-light"
                      style="color: black"
                      aria-labelledby="dropdownMenuLink"
                    >
                      <li class="text-center">Pentesting</li>
                      <li class="text-center">Vulnerability Scanning</li>
                      <li class="text-center">Web Application scanning</li>
                      <li class="text-center">And more!</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs") %>
  </body>
</html>
