<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include(navbar) %>

    <!--CONTENT HERE-->
    <section class="container-fluid web-dev pt-5 mt-5">
      <div class="container-lg">
        <div class="row">
          <div class="col-md-12">
            <h3 class="h2 text-center">Web Development</h3>
          </div>
          <div class="text-left">
            <p>
              Choosing between thousands of frameworks can be a daunting task
              that takes away time from building your cliental and reputation.
              We have compiled some of the best frameworks being used by
              companies such as Amazon, AirBnb, Uber, and more future 500
              compaines around the world. With the help of your vision, we will
              craft a wbesite that fits exactly with the needs of your company.
            </p>
          </div>
        </div>
        <br />
        <div>
          <p class="text-muted text-center">
            * Industry standards that constitue good site interactions.
          </p>
        </div>
        <br />
        <br />
        <div class="row text-center">
          <div class="col-md-4">
            <div class="col-sm-12">
              <p class="fs-1" style="color: green">3 min.</p>
            </div>
            <div class="col-md-12">
              <p class="fw-normal">Average site visit duration.</p>
            </div>
            <hr />
          </div>
          <div class="col-md-4">
            <div class="col-sm-12">
              <p class="fs-1" style="color: green">2%</p>
            </div>
            <div class="col-sm-12">
              <p class="fw-normal">Click through rate of a site.</p>
            </div>
            <hr />
          </div>
          <div class="col-md-4">
            <div class="col-sm-12">
              <p class="fs-1" style="color: green">26-40%</p>
            </div>
            <div class="col-sm-12">
              <p class="fw-normal">Average Bounce Rate.</p>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <br />
      <br />
    </section>
    <br />
    <br />
    <section class="container-fluid" id="front-end">
      <div class="container-lg">
        <div class="row" id="fe-row">
          <div class="col-md-6 fe-bg">
            <div class="col-md-7 fe-title">
              <h3>Front-End Web Development</h3>
            </div>
            <div class="col-md-12 fe-bio">
              <p>
                User interaction is one of the main metrics used to determine
                how well a company retains their cliental after there first
                visit. Fludity, sleekness, and other visual aspects are pivotal
                to help your brand grow, and you only have a few minutes to make
                a big impact. Our team is here to help you stay ahead with the
                latest front-end framework templates using EJS, React, Angular
                and more.
              </p>
            </div>
            <div class="dropdown analytic-btn mb-5">
              <a
                class="btn btn-outline-secondary btn-sm dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                What we use
              </a>
              <ul
                class="dropdown-menu bg-light"
                style="color: black"
                aria-labelledby="dropdownMenuLink"
              >
                <li class="text-center">Bootstrap</li>
                <li class="text-center">ReactJS</li>
                <li class="text-center">Typescript</li>
                <li class="text-center">And more!</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <img src="public/photos/phone.jpg" alt="smile.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Backend web development-->
    <section class="container-fluid"></section>
    <!--How we come into play-->
    <section class="container-fluid">
      <div class="container-lg">
        <div class="container-lg">
          <div class="row" id="be-row">
            <div class="col-md-6 be-bg mt-3">
              <div class="col-md-7 be-title">
                <h3>Back-End Web Development</h3>
              </div>
              <div class="col-md-12 be-bio">
                <p>
                  Back-end development ties together the overall structure of an
                  organization. There are many frameworks that can get the job
                  done, and it can get hard to decide what you need, or what
                  works for you. Our team will help you decide which framework
                  best suits your needs, build your schemas, and help with
                  implementation.
                </p>
              </div>
              <div class="dropdown analytic-btn mb-4">
                <a
                  class="btn btn-outline-secondary btn-sm dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  What we use
                </a>
                <ul
                  class="dropdown-menu bg-light"
                  style="color: black"
                  aria-labelledby="dropdownMenuLink"
                >
                  <li class="text-center">MongoDB & MySQL</li>
                  <li class="text-center">NodeJS</li>
                  <li class="text-center">Django</li>
                  <li class="text-center">And more!</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div>
                <img src="public/photos/backend.jpg" alt="coding.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs") %>
  </body>
</html>
