<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head.ejs")%>
  </head>
  <body>
    <%-include(navbar)%>
    <div class="container-fluid">
      <div class="error-page">
        <img src="public/photos/error_404.png" alt="404.png" />
      </div>
    </div>
    <%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs") %>
  </body>
</html>
