<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <section class="container-fluid mt-5 pt-5" id="forgot-password-page">
      <div class="container-lg mt-5">
        <div class="card mx-auto" style="max-width: 50%">
          <div class="card-header">
            <h1 class="h5 text-center">Enter your email below</h1>
          </div>
          <div class="card-body">
            <form action="/" method="post">
              <div class="input-group flex-nowrap mb-4">
                <span class="input-group-text" id="addon-wrapping"
                  >Email Address</span
                >
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Email Address"
                  aria-label="something@email.com"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div class="d-grid col-3 mx-auto">
                <a class="btn btn-primary btn-sm" type="submit" role="button"
                  >Send Link</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <%- include("partials/footer.ejs") %> <%- include("partials/scripts.ejs")
      %>
    </section>
  </body>
</html>
