<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    <%-include(navbar)%>
    <section class="container-fluid text-center">
    <div class="container-lg">
      <div class="FAQ">
        <div class="FAQ-Title">
          <div class="row">
            <div class="col-12">
              <h1 class="h3 mt-5 fs-1-4">
                Frequently Asked Questions
              </h1>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12">
            <div class="faqOne">
              <p class="fw-bold fs-5 mt-4">
                Q: How do I track how long my order will take?
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-12 mb-5">
            <p class="fw-normal">
              A: Our team will have a detailed deadline created
              for you and will be available when need.
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-12 mt-5">
            <p class="fw-bold fs-5">
              Q: What is the fastest way to get in contact
              with customer service?
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-12 mb-5">
            <p>
              A: Following the contact link, both forms of
              communication via email or twitter, have
              roughly the same response time
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-12 mt-5">
            <p class="fw-bold fs-5">
              Q: Are there possibilities on a refund if I am
              disatisfied?
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-12 mb-5">
            <p class="fw-normal">
              A: Most refunds are non-negotiable, but are judged on a case-by-case
              bases.
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-12 mt-5">
            <div>
              <p class="fw-bold fs-5">
                Q: What if I wanted to tweak the service I am receiving after purchasing it?
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-12 mb-5">
            <div>
              <p>
                A: Adjustments post purchase will come up additional charges, if they break break the terms of service.
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
      </div>
    </div>
    </div>
  </section>
 <%- include("partials/footer.ejs") %>
 <%- include("partials/scripts.ejs") %>
</body>
</html>