<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%for(let i=0; i < error.length; i++){ %>
    <div class="container invalidAlert py-4 text-center">
      <div class="alert alert-danger" role="alert"><%=error[i]%></div>
    </div>
    <%}%>
    <section class="container-fluid mt-5 pt-5" id="forgot-password-page">
      <div class="container-lg mt-5">
        <div class="card mx-auto" style="max-width: 50%">
          <div class="card-header">
            <h1 class="h5 text-center">Enter your email below</h1>
          </div>
          <div class="card-body">
            <form action="/reset-password/changed-password/validation" method="post">
              <div class="input-group flex-nowrap mb-4">
                <span class="input-group-text" id="addon-wrapping"
                  >New Password</span
                >
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  class="form-control"
                  placeholder="New Password"
                  aria-label="something@email.com"
                  aria-describedby="addon-wrapping"
                  required
                />
              </div>
              <div class="input-group flex-nowrap mb-4">
                <span class="input-group-text" id="addon-wrapping"
                  >Confirm Password</span
                >
                <input
                  type="password"
                  id="confirmedPassword"
                  name="confirmedPassword"
                  class="form-control"
                  placeholder="Confirm Password"
                  aria-label="something@email.com"
                  aria-describedby="addon-wrapping"
                  required
                />
                <span id="message"></span>
              </div>
              <div class="d-grid col-5 mx-auto">
                <button
                  class="btn btn-primary btn-sm"
                  type="submit"
                  name="username"
                  value="<%=username%>"
                >
                  Update password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <%- include("partials/scripts.ejs") %>
    </section>
  </body>
</html>
