<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">Q: How do I change my profile photo?</p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: You must first click on the profile picture to upload the photo you
      want.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: Once I delete my account, will I have access to my information?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: No. Once your account is deleted your information that was submitted
      and processed while a member will be gone.
    </p>
  </div>
</div>
