<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: How do I track how long my order will take?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Our team will have a detailed deadline created for you and will be
      available when need.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">Q: What are your refund policies?</p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Refunds will be based on a case by case bases. Majority of purchases
      are non-refundable.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">Q: How much do you charge for full stack?</p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Full Stack starts out at $200. Each front end page to be rendered, will
      be added on after that.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: How much do you charge for only the back end?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Back end only will start out as $150. Each framework that is added
      outside of our scope will be 30% extra.
    </p>
  </div>
</div>
