<div class="card bg-light border-dark" style="width: 50%; margin: 0 auto;">
  <div class="card-body">
    <h5 class="card-title">Help With Purchasing</h5>
    <p class="card-text">
      We have the answers you are looking for in regards to purchases!
    </p>
    <button
      type="button"
      class="btn btn-outline-success col-4"
      data-bs-toggle="modal"
      data-bs-target="#purchaseModal"
    >
      Get help
    </button>
  </div>
</div>

<div
  class="modal fade"
  id="purchaseModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Purchases FAQ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <%- include("./purchaseHelp.ejs")%>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
