<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: How do I track how long my order will take?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Our team will have a detailed deadline created for you and will be
      available when need.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">Q: What are your refund policies?</p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Refunds will be based on a case by case bases. Majority of purchases
      are non-refundable.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">Q: How much do you charge for full stack?</p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Full Stack starts out at $180. Each front end page to be rendered, will
      be $60 added on after that.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: How much do you charge for only the back end?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Back end only will start out as $120. If you want front pages together with
      the backend, you must order the Full Stack package.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: How much do you charge for only the front end?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: front end only will start out as $60. If you want front pages together with
      the backend, you must order the Full Stack package.
    </p>
  </div>
</div>