<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">
        Q: How do I track how long my order will take?
      </p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Our team will have a detailed deadline created for you and will be
      available when need.
    </p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="faqOne">
      <p class="fw-bold fs-5 mt-4">Q: What are your refund policies?</p>
    </div>
  </div>
  <div class="col-sm-12 mb-5">
    <p class="fw-normal">
      A: Refunds will be based on a case by case bases. Majority of purchases
      are non-refundable.
    </p>
  </div>
</div>
