<select class="form-select mb-3" id="card type">
    <option value="">Choose...</option>
    <option value="Visa">Visa</option>
    <option value="Mastercard">Mastercard</option>
    <option value="AMEX">AMEX</option>
</select>