 <h4 class="d-flex justify-content-between align-items-center mb-3">
     <span class="text-primary">Your cart</span>
     <span class="badge bg-primary rounded-pill">1</span>
 </h4>
 <ul class="list-group mb-3">
     <li class="list-group-item d-flex justify-content-between lh-sm">
         <div>
             <h6 class="my-0">Product name</h6>
             <small class="order text-muted"><%=productOrder%></small>
         </div>
     </li>
     <li class="list-group-item d-flex justify-content-between lh-sm">
         <div>
             <h6 class="my-0">Duration</h6>
             <small class="text-muted"><%=purchaseDuration%></small>
         </div>
     </li>
     <li class="list-group-item d-flex justify-content-between lh-sm">
         <div>
             <h6 class="my-0">Asset Purchased<span class="text-muted fs-10"> (Host/sheets/data size)</span></h6>
             <small class="text-muted"><%=purchaseAsset%></small>
         </div>
     </li>
     <li class="list-group-item d-flex justify-content-between">
         <span>Total</span>
         <strong class="total"><%=purchaseTotal%></strong>
     </li>
 </ul>