<div class="col-md-6">
  <div class="User-Info">
    <%- include("./account-info.ejs") %>
    <hr class="div-dividers" />
    <%- include("./purchases.ejs") %>
    <hr class="div-dividers" />
    <%- include("./destruction-modal.ejs") %>
  </div>
</div>
