<div class="col-md-12 pb-3">
  <div class="account-name">
    <div class="user-info-title pb-4">
      <h1 class="h5"><i class="fas fa-info"></i> Account Info</h1>
    </div>
    <div class="user-info-content d-grid gap-5">
      <form>
        <div class="accountUsername">
          <p class="fs-5">Username: <%= currentUser %></p>
        </div>
        <div class="accountEmail">
          <p class="fs-5">Member since: <%= memberStatus %></p>
        </div>
      </form>
    </div>
  </div>
</div>
