<div class="col-md-6 account-items">
  <div class="user-banner">
    <div class="user-image">
      <label class="profile-label" title="Change picture" for="image">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          id="profile-image"
          alt="img.png"
        />
      </label>
      <input type="file" name="image" id="image" style="display: none" />
    </div>
    <div class="user-bio mt-5 pt-3 pb-3">
      <div class="d-grid gap-2">
        <div class="col-7 d-flex">
          <p class="fs-6">User: <%= currentUser %></p>
        </div>
        <div class="col-7 d-flex">
          <p class="fs-6">Company: <%= currentCompany%></p>
        </div>
        <div class="col-7 d-flex">
          <p class="fs-6">Location: <%= currentLocation%></p>
        </div>
        <div class="col-7 d-flex">
          <p class="fs-6">Position: <%= currentPosition%></p>
        </div>
      </div>
    </div>
    <div class="profile-edit-button col-md-6">
      <a
        class="btn btn-dark btn-sm"
        data-bs-toggle="collapse"
        href="#collapseEditForm"
        >Edit your profile</a
      >
      <div class="collapse mt-4" id="collapseEditForm">
        <form action="/profile/update/:id" method="post">
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="company"
              placeholder="Company"
            />
          </div>
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="location"
              placeholder="Location"
            />
          </div>
          <div class="d-grid mb-2">
            <input
              class="form-control form-control-sm"
              type="text"
              name="position"
              placeholder="Position"
            />
          </div>
          <button class="btn btn-success btn-sm col-12" type="submit">
            Save
          </button>
        </form>
      </div>
    </div>
    <hr class="div-dividers mb-5" style="width: 50%" />
  </div>
</div>
