<div class="col-sm-12 mt-5 pb-3">
  <div class="account-purchases">
    <div class="user-info-title pb-4">
      <h1 class="h5"><i class="fas fa-shopping-cart"></i> Purchases</h1>
    </div>
    <div class="user-info-content d-grid gap-3">
      <p class="fs-5">Download a copy of your purchases</p>
      <form action="/profile/purchased-items/:id" method="GET">
        <button id="export-csv" class="btn btn-dark btn-sm">
          Download your purchases.
        </button>
      </form>
    </div>
  </div>
</div>
